*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header start */
header{
    width: 100%;
    background-color: rgba(23, 23, 23, 0.15);
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: auto;
}

header a {
    text-decoration: none;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
}

/* header end */

/* banner start */
.banner-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #0000e6, #4da6ff);
}

.banner-container .container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* banner end */

/* Left section start */
.left-section{
    width: 50%;
    align-self: flex-start;
}

.left-section h1{
    margin: 0;
    font-size: 40px;
    color: white;

}

.left-section p{
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #f2f2f2;
    line-height: 24px;
}

.left-section button{
    background-color: white;
    color: var(--color-1);
    padding: 12px 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

/* left section end */

/* right section (form) start */
.right-section{
    background-color: white;
    width: 400px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 6px #004080;
}

.right-section h4{
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: #4da6ff;
}

.input-group{
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-group label {
    font-size: var(--font-14);
    position: absolute;
    top: 10px;
    color: gray;
    transition: 0.5s ease-in-out;
}

.input-group input {
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border-radius: 6px;
    border-bottom: 1px solid lightblue;
    color: var(--color-1);
}

.input-group input:focus ~ label, 
.input-group input:valid ~ label {
    color: var(--color-1);
    top: -10px;
    font-size: 12px;
}

.input-group input:focus{
border-color: #3333ff;  
}

.submit-section {
    text-align: center;
}
.submit-button{
    border: none;
    border-radius: 6px;
    background-color: #4da6ff;
    color: white;
    width: 250px;
    padding: 10px  5px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    box-shadow: 0 3px 5px silver;
}
/* right section (form) end */

/* bottom section start */
.section-2 {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.card-container {
    width: 300px;
    box-shadow: 3px 3px 16px rgb(54, 52, 52);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}
.card-container h1 {
    color: rgb(136, 136, 136);
}
.image-container {
    width: 100%;
    height: 300px;
    /* text-align: center; */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s ease-in-out;
}

.image-container img:hover{
    transform: scale(1.2) rotate(-5deg);
}
/* bottom section end */

/* Footer Section start */
footer{
    text-align: center;
    color: gray;
    padding: 15px;
}

footer span{
    color: var(--color-1);
    font-weight: bold;
}
/* Footer Section End*/